<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в админ-аккаунт</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-stone-300 bg-opacity-20 flex items-center justify-center min-h-screen">

    <div class="bg-gray-800 text-white p-10 rounded-3xl w-[32rem] bg-opacity-95">
        <div class="flex justify-between items-center pb-4">
            <h2 class="text-2xl font-bold">🚪 Вход в админ-аккаунт</h2>
        </div>

        <form id="registerForm" class="mt-6 flex flex-col gap-4">
            <input
                type="text"
                name="username"
                placeholder="👤 Админ-логин"
                required
                class="w-full bg-gray-700 text-white px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-lime-400 placeholder-gray-400"
            >
            <input
                type="password"
                name="password"
                placeholder="🔑 Пароль"
                required
                class="w-full bg-gray-700 text-white px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-lime-400 placeholder-gray-400"
            >
            <button
                type="submit"
                class="w-full bg-lime-600 text-white px-6 py-3 rounded-lg transition duration-300 hover:bg-lime-500 hover:scale-[1.02]"
            >
                Войти
            </button>
        </form>
    </div>

</body>
</html>
